{% extends "layout.html" %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="white-text">Pricing</h1>
    <p class="white-text"></p>
</div>

<div class="container">

    <div class="card-deck mb-3 text-center ">
        <div class="card mb-4 box-shadow text-white bg-primary">
            <div class="card-header">
                <h4 class="white-text">One week VIP 1&2</h4>
            </div>
            <div class="card-img-bottom">
                    <img src="https://user-images.githubusercontent.com/43483189/80878258-dcd5e600-8cbb-11ea-987e-5754ab1bd86c.png">
            </div>
        </div>

        <div class="card mb-4 box-shadow text-white bg-primary">
            <div class="card-header">
                <h4 class="white-text">One month VIP 1&2</h4>
            </div>
            <div class="card-img-bottom">
                    <img src="https://user-images.githubusercontent.com/43483189/80878464-ea8b6b80-8cbb-11ea-8b60-8d149abe4cd8.png">
            </div>
        </div>

        <div class="card mb-4 box-shadow text-white bg-primary">
            <div class="card-header">
                <h4 class="white-text">One year VIP 1&2</h4>
            </div>
            <div class="card-img-bottom">
                <img src="https://user-images.githubusercontent.com/43483189/80878681-f840f100-8cbb-11ea-8ad6-6e56417e858f.png">
            </div>
    </div>
</div>
</div>
    {% endblock content%}