{% extends "layout.html" %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="white-text">Pricing</h1>
    <p class="white-text"></p>
</div>

<div class="container">

    <div class="card-deck mb-3 text-center ">
        <div class="card mb-4 box-shadow text-white bg-primary">
            <div class="card-header">
                <h4 class="white-text">One week VIP 1</h4>
            </div>
            <div class="card-img-bottom">
                    <img src="https://user-images.githubusercontent.com/43483189/80873526-836cb780-8cb9-11ea-93d0-5c2051ba499c.png">
            </div>
        </div>

        <div class="card mb-4 box-shadow text-white bg-primary">
            <div class="card-header">
                <h4 class="white-text">One month VIP 1</h4>
            </div>
            <div class="card-img-bottom">
                    <img src="https://user-images.githubusercontent.com/43483189/80873535-a5fed080-8cb9-11ea-995c-07a394a3241f.png">
            </div>
        </div>

        <div class="card mb-4 box-shadow text-white bg-primary">
            <div class="card-header">
                <h4 class="white-text">One year VIP 1</h4>
            </div>
            <div class="card-img-bottom">
                <img src="https://user-images.githubusercontent.com/43483189/80873545-b616b000-8cb9-11ea-878c-20615e2598a4.png">
            </div>
    </div>
</div>
</div>

    {% endblock content%}