{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row row-cols-2 align-items-center">
        <div class="col-6 text-right" style="height:100px">
            <a href="{{ url_for('user.change_profile_pic_cn') }}">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/'+user.image_file) }}"
                     style="height:100%; width:auto">
            </a>
        </div>

        <div class="col-6 text-left ">
            <div class="row">
                <h2 class="white-text">{{ user.username }}</h2>
            </div>
        </div>
    </div>
    <br/>
    <h4 class="white-text text-center">{{message}}</h4>
    <br>
    {%if flag == 1 %}

    <h4 class="white-text" style="color:white">你喜欢我们的VIP内容吗？</h4>
    <h4 class="white-text" style="color:white">使用下面推荐码，并让1个新用户使用你的推荐码注册，你将会获得额外的免费VIP体验哦。</h4>
    <br>
    <p class="white-text">您的VIP1邀请码: <span style="color: #00CCBC">{{code1}}</span></p>
    <p class="white-text">您的VIP2邀请码: <span style="color: #00CCBC">{{code2}}</span></p>
    <br/>
    <h4 class="white-text" style="color:white">或者您也点击下面的连接购买您的VIP</h4>
    <a class="btn btn-outline-light text-left" href="{{url_for('webapp.buy_vip')}}">购买您的VIP服务</a>
    {% endif %}

    {%if flag == 2 %}
    <h4 class="white-text" style="color:white">你目前有VIP服务的体验特权, 请点击下面的连接获取您的免费VIP时长。</h4>
    <a class="btn btn-outline-light text-left" href="{{url_for('webapp.VIP_check_cn')}}">获得免费VIP时长</a>
    {% endif %}

</div>
{% endblock content %}