    <div class="container">
        <div class="row">
            <h1> {{message}}</h1>
            {%for post in posts%}
            <div class="col-md-4" id="post_content_section{{post.id}}">
                {% if post.classification == 'normal'%}
                <div class="card mb-4 box-shado_file">
                    <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                                     src="{{post.avater}}"
                                     alt="Card image cap"></a>
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a class="post-link" href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p class="internal-text"><span
                                    style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </p>
                            <p>
                                <span><img src="../../static/available.svg" style="width:60%"></span>
                                <span class="badge badge-light"></span>
                            </p>
                            <p>
                                <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                        post_id="{{post.id}}">
                                    <span class="fa fa-heart" style="color:#8942a8"> </span>
                                    <span class="badge badge-light">{{post.total_like}}</span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                {%endif%}

                {% if post.classification == 'vip1'%}
                <div class="card mb-4 box-shado_file">
                    {% if current_user.vip1 == 'yes'%}
                    <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                                     src="{{post.avater}}"
                                     alt="Card image cap"></a>
                    <div class="card-body">
                        <div class="post-title">
                            <a class=" post-link"
                               href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span class="internal-text"
                                     style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </p>
                            <p>
                                <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                            </p>
                            <p>
                                <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                        post_id="{{post.id}}">
                                    <span class="fa fa-heart" style="color:#8942a8">  </span>
                                    <span class="badge badge-light">{{post.total_like}}</span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

                {% else %}
                <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                                 src="{{post.avater}}"
                                 alt="Card image cap"></a>
                <span class="mask"></span>
                <div class="toumingzi">
                    <h1 class="fa fa-lock white-text"></h1>
                    <h4 class="white-text">Only available for VIP1</h4>
                </div>
                <div class="card-body">
                    <div class="post-title">
                        <h2 class=" post-unlink"><span
                                style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span>
                        </h2>
                    </div>
                    <div class="post-subtitle">
                        <p><span class="internal-text"
                                 style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>
                            <span class="fa fa-calendar" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                        </p>
                        <p>
                            <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                        </p>
                        <p>
                            <span class="fa fa-heart" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.total_like}}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}


            {% if post.classification == 'vip2'%}
            <div class="card mb-4 box-shado_file">
                {% if current_user.vip2 == 'yes'%}
                <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                                 src="{{post.avater}}"
                                 alt="Card image cap"></a>
                <div class="card-body">
                    <div class="post-title">
                        <a class=" post-link"
                           href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                    </div>
                    <div class="post-subtitle">
                        <p><span class="internal-text"
                                 style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>
                            <span class="fa fa-calendar" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                        </p>
                        <p>
                            <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                        </p>
                        <p>
                            <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                    post_id="{{post.id}}">
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}

            <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                             src="{{post.avater}}"
                             alt="Card image cap"></a>
            <span class="mask"></span>
            <div class="toumingzi">
                <h1 class="fa fa-lock white-text"></h1>
                <h4 class="white-text">Only available for VIP2</h4>
            </div>
            <div class="card-body">
                <div class="post-title">
                    <h2 class="post-unlink"><span
                            style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span>
                    </h2>
                </div>
                <div class="post-subtitle">
                    <p><span class="internal-text"
                             style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p>
                        <span class="fa fa-calendar" style="color:#8942a8">  </span>
                        <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                    </p>
                    <p>
                        <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                    </p>
                    <p>
                        <span class="fa fa-heart" style="color:#8942a8">  </span>
                        <span class="badge badge-light">{{post.total_like}}</span>

                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {%endfor%}
</div>
</div>