<!-- posts is the argument from view function-->

{% extends "layout.html" %}
{% block category %}
{% endblock%}
{% block content %}

<style>

.white-text{
color:white}

.internal-text{
color: #8942a8
}

.add_favourite{
color: #8942a8
}

.post-link{
color:#8942a8;
text-decoration: none;
font-size: large;
}

.post-link:hover{
color: #bd382d;}

.post-unlink{
color:#8942a8;
text-decoration: none;
font-size: large;
}
.btn-secondary{
    border-radius: 10px;
    border:0px;
    font-weight:bold;
    font-size:large;
    background-color:rgba(0,0,0,0.2);
}

.btn-secondary:hover{
    background-color:rgba(0,0,0,0.2);
}

.btn-secondary:onclick{
    background-color:rgba(0,0,0,0.2);
}
.dropdown-item{
    font-weight:bold;
    font-size:large;
    color:#bd382d;
    margin:0px
}

.badge-light{
color:#bd382d;
background-color: rgba(0,0,0,0);
}

.mask{
    position: absolute;
    /*position: relative;*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
    opacity: 0.8;
    border-radius: 3px;
    <!--filter:alpha(opacity=60);-->
    <!-- -moz-opacity:0.6;-->
    }

.toumingzi{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
    color: white;
}

.info-box-middle{
    z-index: 99999;
    position: fixed;
    bottom: 50%;
    left: 45%;
}
</style>

<div style="text-align:left">
    <!--<h1 class="white-text">{{category.name}}</h1>-->
    {% if category.name%}
        <h1 class="white-text">{{category.name}}</h1>
    {% else %}
        <h1 class="white-text">最新发布</h1>
    {% endif %}
    <p></p>
    <!--<a class="btn btn-outline-light contentSortButton" name="popularity" href="#" category="{{category.name}}"> Sort by-->
    <!--popularity</a>-->
    <!--<a Class="btn btn-outline-light contentSortButton" name="time" href="#" category="{{category.name}}"> Sort by-->
    <!--time</a>-->
    <div style="text-align:right">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item sort-1" href="#" name="popularity" category="{{category.name}}">By popularity</a>
                <a class="dropdown-item sort-2" href="#" name="time" category="{{category.name}}">By date</a>
            </div>
        </div>
    </div>
    <HR color="white">
</div>

<div id="content">
    <div class="album py-5">
        <div class="container">
            <div class="row">
                {%for post in posts%}
                <div class="col-md-4" id="post_content_section{{post.id}}">
                    {% if post.classification == 'normal'%}
                    <div class="card mb-4 box-shado_file">
                        <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top lazyload"
                                         src="{{post.avater}}"
                                         alt="Card image cap"></a>
                        <div class="card-body" style="">
                            <div class="post-title">
                                <a class="post-link" href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                        style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                            </div>
                            <div class="post-subtitle">
                                <p class="internal-text"><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>
                                    <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                    <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                                </p>
                                <p>
                                    <span><img src="../../static/available.svg" style="width:60%"></span>
                                    <span class="badge badge-light"></span>
                                </p>
                                <p>
                                    <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                            category="{{category.name}}" post_id="{{post.id}}">
                                        <span class="fa fa-heart" style="color:#8942a8"> </span>
                                        <span class="badge badge-light">{{post.total_like}}</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    {%endif%}

                    {% if post.classification == 'vip1'%}
                    <div class="card mb-4 box-shado_file">
                        {% if current_user.vip1 == 'yes'%}
                        <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top lazyload"
                                         src="{{post.avater}}"
                                         alt="Card image cap"></a>
                        <div class="card-body">
                            <div class="post-title">
                                <a class=" post-link"
                                   href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                        style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                            </div>
                            <div class="post-subtitle">
                                <p><span class="internal-text"
                                         style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>
                                    <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                    <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                                </p>
                                <p>
                                    <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                                </p>
                                <p>
                                    <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                            category="{{category.name}}" post_id="{{post.id}}">
                                        <span class="fa fa-heart" style="color:#8942a8">  </span>
                                        <span class="badge badge-light">{{post.total_like}}</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top lazyload"
                                     src="{{post.avater}}"
                                     alt="Card image cap"></a>
                    <span class="mask"></span>
                    <div class="toumingzi">
                        <h1 class="fa fa-lock white-text"></h1>
                        <h4 class="white-text vip1-text">Only available for VIP1</h4>
                    </div>
                    <div class="card-body">
                        <div class="post-title">
                            <h2 class=" post-unlink"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span>
                            </h2>
                        </div>
                        <div class="post-subtitle">
                            <p><span class="internal-text"
                                     style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </p>
                            <p>
                                <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                            </p>
                            <p>
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% if post.classification == 'vip2'%}
                <div class="card mb-4 box-shado_file">
                    {% if current_user.vip2 == 'yes'%}
                    <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top lazyload"
                                     src="{{post.avater}}"
                                     alt="Card image cap"></a>
                    <div class="card-body">
                        <div class="post-title">
                            <a class=" post-link"
                               href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span class="internal-text"
                                     style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </p>
                            <p>
                                <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                            </p>
                            <p>
                                <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                        category="{{category.name}}" post_id="{{post.id}}">
                                    <span class="fa fa-heart" style="color:#8942a8">  </span>
                                    <span class="badge badge-light">{{post.total_like}}</span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                {% else %}

                <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top lazyload"
                                 src="{{post.avater}}"
                                 alt="Card image cap"></a>
                <span class="mask"></span>
                <div class="toumingzi">
                    <h1 class="fa fa-lock white-text"></h1>
                    <h4 class="white-text vip2-text">Only available for VIP2</h4>
                </div>
                <div class="card-body">
                    <div class="post-title">
                        <h2 class="post-unlink"><span
                                style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span>
                        </h2>
                    </div>
                    <div class="post-subtitle">
                        <p><span class="internal-text"
                                 style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>
                            <span class="fa fa-calendar" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                        </p>
                        <p>
                            <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                        </p>
                        <p>
                            <span class="fa fa-heart" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.total_like}}</span>

                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}

        </div>
        {%endfor%}
    </div>
</div>
</div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='js/sort_content.js')}}"></script>
<script src="{{ url_for('static', filename='js/lazyload.js')}}"></script>
<script src="{{ url_for('static', filename='js/add_favourite.js')}}"></script>
{% endblock content %}

