{% extends "layout.html" %}
{% block content %}
<style>

.white-text{
color:white}

.internal-text{
color: #8942a8
}

.add_favourite{
color: #8942a8
}

.post-link{
color:#8942a8;
text-decoration: none;
font-size: large;
}

.post-link:hover{
color: #bd382d;}

.post-unlink{
color:#8942a8;
text-decoration: none;
font-size: large;
}

.btn-secondary{
    border-radius: 10px;
    border:0px;
    font-weight:bold;
    font-size:large;
    background-color:rgba(0,0,0,0.2);
}

.btn-secondary:hover{
    background-color:rgba(0,0,0,0.2);
}

.btn-secondary:onclick{
    background-color:rgba(0,0,0,0.2);
}


.dropdown-item{
    font-weight:bold;
    font-size:large;
    color:#bd382d;
    margin:0px
}

.badge-light{
color:#bd382d;
background-color: rgba(0,0,0,0);
}

.mask{
    position: absolute;
    /*position: relative;*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
    opacity: 0.8;
    border-radius: 3px;
    <!--filter:alpha(opacity=60);-->
    <!-- -moz-opacity:0.6;-->
    }

.toumingzi{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
    color: white;
}




</style>

<h2 name="keyword message" keyword="{{keyword}}" id="header_search_found" style="color:white">We have found these interesting
    contents about "{{keyword}}" for you.</h2>
    <div style="text-align:right">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item sort-1" href="#" name="popularity" keyword="{{keyword}}" id="dropdown_first">By popularity</a>
                <a class="dropdown-item sort-2" href="#" name="time" keyword="{{keyword}}">By date</a>
            </div>
        </div>
    </div>
    <HR color="white">

<!--content-->
<div class="container" id="content">
    <div class="row">
        {%for post in posts%}
        <div class="col-md-4" id="post_content_section{{post.id}}">
            {% if post.classification == 'normal'%}
            <div class="card mb-4 box-shado_file">
                <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                                 src="{{post.avater}}"
                                 alt="Card image cap"></a>
                <div class="card-body" style="">
                    <div>
                        <a class="post-link" href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                    </div>
                    <div>
                        <p class="internal-text"><span
                                style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                        </p>
                        <p class="internal-text"><span
                                style="position: relative; bottom: 0; left: 0;">{{post.content_cn}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>
                            <span class="fa fa-calendar" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                        </p>
                        <p>
                            <span><img src="../../static/available.svg" style="width:60%"></span>
                            <span class="badge badge-light"></span>
                        </p>
                        <p>
                            <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                    post_id="{{post.id}}">
                                <span class="fa fa-heart" style="color:#8942a8"> </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            {%endif%}

            {% if post.classification == 'vip1'%}
            <div class="card mb-4 box-shado_file">
                {% if current_user.vip1 == 'yes'%}
                <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                                 src="{{post.avater}}"
                                 alt="Card image cap"></a>
                <div class="card-body">
                    <div>
                        <a class=" post-link"
                           href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                                style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                    </div>
                    <div>
                        <p><span class="internal-text"
                                 style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                        </p>
                        <p><span class="internal-text"
                                 style="position: relative; bottom: 0; left: 0;">{{post.content_cn}}</span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>
                            <span class="fa fa-calendar" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                        </p>
                        <p>
                            <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                        </p>
                        <p>
                            <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}"
                                    post_id="{{post.id}}">
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>

            {% else %}
            <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                             src="{{post.avater}}"
                             alt="Card image cap"></a>
            <span class="mask"></span>
            <div class="toumingzi">
                <h1 class="fa fa-lock white-text"></h1>
                <h4 class="white-text vip1-text">Only available for VIP1</h4>
            </div>
            <div class="card-body">
                <div>
                    <h2 class=" post-unlink"><span
                            style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span>
                    </h2>
                </div>
                <div>
                    <p><span class="internal-text"
                             style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                    </p>

                    <p><span class="internal-text"
                             style="position: relative; bottom: 0; left: 0;">{{post.content_cn}}</span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p>
                        <span class="fa fa-calendar" style="color:#8942a8">  </span>
                        <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                    </p>
                    <p>
                        <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                    </p>
                    <p>
                        <span class="fa fa-heart" style="color:#8942a8">  </span>
                        <span class="badge badge-light">{{post.total_like}}</span>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}


        {% if post.classification == 'vip2'%}
        <div class="card mb-4 box-shado_file">
            {% if current_user.vip2 == 'yes'%}
            <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                             src="{{post.avater}}"
                             alt="Card image cap"></a>
            <div class="card-body">
                <div class="post-title">
                    <a class=" post-link"
                       href="{{url_for('post.post_cn', post_id=post.id)}}"><span
                            style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span></a>
                </div>
                <div class="post-subtitle">
                    <p><span class="internal-text"
                             style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p>
                        <span class="fa fa-calendar" style="color:#8942a8">  </span>
                        <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                    </p>
                    <p>
                        <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                    </p>
                    <p>
                        <button class="btn btn-outline-light aheart" post_title="{{post.title_cn}}" post_id="{{post.id}}">
                            <span class="fa fa-heart" style="color:#8942a8">  </span>
                            <span class="badge badge-light">{{post.total_like}}</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
        {% else %}

        <a href="{{url_for('post.post_cn', post_id=post.id)}}"><img class="card-img-top"
                         src="{{post.avater}}"
                         alt="Card image cap"></a>
        <span class="mask"></span>
        <div class="toumingzi">
            <h1 class="fa fa-lock white-text"></h1>
            <h4 class="white-text vip2-text">Only available for VIP2</h4>
        </div>
        <div class="card-body">
            <div>
                <h2 class="post-unlink"><span
                        style="position: relative; top: 0; left: 0;"><strong>{{post.title_cn}}</strong></span>
                </h2>
            </div>
            <div>
                <p><span class="internal-text"
                         style="position: relative; bottom: 0; left: 0;">{{post.subtitle_cn}}</span>
                </p>
                <p><span class="internal-text"
                         style="position: relative; bottom: 0; left: 0;">{{post.content_cn}}</span>
                </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    <span class="fa fa-calendar" style="color:#8942a8">  </span>
                    <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                </p>
                <p>
                    <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                </p>
                <p>
                    <span class="fa fa-heart" style="color:#8942a8">  </span>
                    <span class="badge badge-light">{{post.total_like}}</span>

                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

</div>
{%endfor%}
</div>
</div>



<script type="text/javascript">
        var Highlight = {
            arr : [],
            init : function (ops){
                this.arr[ops.id] = {
                    id : ops.id,
                    arr : ops.arr
                }
                this.show(this.arr[ops.id]);
            },
            show : function (obj){
                obj.html = document.getElementById(obj.id).innerHTML;
                for (var i = 0 ; i < obj.arr.length ; i ++) {
                    // 全局匹配 替换
                    var reg = new RegExp(obj.arr[i],'g');
                    obj.html = obj.html.replace(reg,"<span style='background-color:#00CCBC; border-radius:5px'>"+obj.arr[i]+"</span>");
                }
                document.getElementById(obj.id).innerHTML = obj.html;
                console.log(obj.html)
            }
        }
        function titleCase(str) {
            newStr = str.slice(0,1).toUpperCase() +str.slice(1).toLowerCase();
                return newStr;
            }


        window.onload = function (){
            // 使用方法
            // id 必须
            // 默认为id 高亮内容添加class为 Highlight span 标签包裹，直接在style中写样式即可
            keyword = document.getElementById('header_search_found').getAttribute('keyword')
            console.log(keyword)
            lowercase_keyword = keyword.toLowerCase()
            uppercase_keyword = keyword.toUpperCase()
            title_keyword = titleCase(lowercase_keyword)
            Highlight.init({id:"content",arr:[keyword, lowercase_keyword, uppercase_keyword, title_keyword]});
            Highlight.init({id:"header_search_found",arr:[keyword, lowercase_keyword, uppercase_keyword, title_keyword]});
        }
</script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='js/sort_content_search.js')}}"></script>
<script src="{{ url_for('static', filename='js/add_favourite_search.js')}}"></script>
{% endblock content %}

