{% extends "layout.html" %}
{% block content %}

<style>
.form-check{
color:white;
}
.form-group{
color: white
}
.text-muted{
color: white
}
.internal-link{
color:white}
.text{
color:white}

</style>

<div class="container container-form">
    <div class="media">
        <div class="media-body">
            <div class="row align-items-center">
                <div class="col-md-4 text-right" style="height:100px">
                    <img class="rounded-circle article-img"
                         src="{{ url_for('static', filename='profile_pics/'+current_user.image_file) }}"
                         style="height:100%; width:auto">
                </div>
                <div class="col text-left">
                    <h2 class="text">{{ current_user.username }}</h2>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.username.label(class="form-control-label username-text") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.new_email.label(class="form-control-label new-email-text") }}
                {% if form.new_email.errors %}
                {{ form.new_email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.new_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.new_email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.new_email_again.label(class="form-control-label confirm-new-email-text") }}
                {% if form.new_email_again.errors %}
                {{ form.new_email_again(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.new_email_again.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.new_email_again(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="container container-button">
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
