<div class="card mb-4 box-shado_file">
    <a href="{{url_for('post.post_en', post_id=post.id)}}"><img class="card-img-top"
                     src="{{post.avater}}"
                     alt="Card image cap"></a>
    <div class="card-body" style="">
        <div class="post-title">
            <a class="post-link" href="{{url_for('post.post_en', post_id=post.id)}}"><span
                    style="position: relative; top: 0; left: 0;"><strong>{{post.title_en}}</strong></span></a>
        </div>
        <div class="post-subtitle">
            <p class="internal-text"><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle_en}}</span>
            </p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <p>
                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
            </p>

            <p>
                {% if post.classification == 'vip1'%}
                <span><img src="../../static/VIP-01.svg" style="width:60%"></span>
                {% endif%}
                {% if post.classification == 'vip2'%}
                <span><img src="../../static/VIP-02.svg" style="width:60%"></span>
                {% endif%}
                {% if post.classification == 'normal'%}
                <span><img src="../../static/available.svg" style="width:60%"></span>
                {% endif %}
            </p>

            <p>
                <button class="btn btn-outline-light aheart" post_title="{{post.title_en}}"
                                               post_id="{{post.id}}">
                                        <span class="fa fa-heart" style="color:#8942a8"> </span>
                    <span class="badge badge-light">{{post.total_like}}</span>
                </button>
            </p>
        </div>
    </div>
</div>

<div id="popup{{post.id}}" class="overlay text-center">
	<div class="popup">
		<h2 class="pop-header-succeed" style="color:#00CCBC">{{header}}</h2>
		<a class="close" href="#popup2">&times;</a>
		<div class="content internal-text" >
            {% if title_hidden == 1%}
            {% else %}
                <span class="internal-text" style="color:#00CCBC">{{post.title_en}}</span>
            {% endif %}
            <span class="internal-text ">{{message}}</span>
		</div>
	</div>
</div>