<!-- posts is the argument from view function-->

{% extends "layout.html" %}
{% block category %}
{% endblock%}
{% block content %}
<!--Category1-->
    <button name="updatebutton" name="like"> Sort by popularity </button>
    <button name="updatebutton" name="time"> Sort by time </button>
    {% for post in posts.items %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
              <h2><a class="article-title" href = "{{url_for('post.post', post_id=post.id)}}">{{post.title }}</a></h2>
              <p class="article-content" >{{post.subtitle}}</p>
              <p class="article-content" >{{post.content}}</p>
              <div class="article-metadata"> </div>
              <!--tugs -->
              <p class="article-content" > Heart shape: {{post.total_like}}</p>
                </div>
        </article>
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('webapp.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('webapp.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/sort_content.js')}}"></script>
{% endblock content %}

{% block sidebar %}
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.</p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
          </div>
        </div>
{% endblock sidebar %}
