{% extends "layout.html" %}

{% block content %}
<h4 id="vip-text1" class="white-text" style="color:white">你喜欢我们的VIP内容吗？</h4>
<h4 id="vip-text2" class="white-text" style="color:white">使用下面推荐码，并让1个新用户使用你的推荐码注册，你将会获得额外的免费VIP体验哦。</h4>
{% if lang == 'en' %}
<p  class="white-text">Your invitation code for VIP1: <span style="color: #00CCBC">{{code1}}</span></p>
<p class="white-text">Your invitation code for VIP2: <span style="color: #00CCBC">{{code2}}</span></p>
{% else %}
<p class="white-text">您的VIP1邀请码: <span style="color: #00CCBC">{{code1}}</span></p>
<p class="white-text">您的VIP2邀请码: <span style="color: #00CCBC">{{code2}}</span></p>
{% endif %}

<br/>
<h4 id="buy-vip-link" class="white-text" style="color:white">或者您也点击下面的连接购买您的VIP</h4>
<a class="btn btn-outline-light text-left buy-vip-button" href="{{url_for('webapp.buy_vip')}}">Buy your VIP</a>
{% endblock content %}

