{% extends "layout.html" %}
{% block content %}
<body class="text-center">

<style>
</style>


<div class="container container-form">
    <form class="form-signin" method="POST">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <div class="py-5 text-center">
            <h1 class="white-text" id="login_title">Please login</h1>
        </div>
        <div class="form-group">
            {{ form.email.label(class="d-flex justify-content-between align-items-center mb-3 email-text" ) }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label(class="d-flex justify-content-between align-items-center mb-3 password-text") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label remember-me") }}
        </div>

        <!-- submit button -->
        <div class="container container-button">
        <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            <small class="text-muted ml-2">
                {% if lang == 'en'%}
                <a class="white-text forget-password-text" href="{{ url_for('user.reset_request_en') }}" >Forgot Password?</a>
                {% else %}
                <a class="white-text forget-password-text" href="{{ url_for('user.reset_request_cn') }}" >Forgot Password?</a>
                {% endif %}
            </small>
        </div>
        </div>
    </form>
</div>
</body>
{% endblock content %}
