{% extends "layout.html" %}


{% block content %}
<!--<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">-->
    <!--<h1 class="white-text">Pricing</h1>-->
    <!--<p class="white-text"></p>-->
<!--</div>-->

<!--<div class="container">-->

    <!--<div class="card-deck mb-3 text-center">-->
        <!--<div class="card mb-4 box-shadow">-->
            <!--<div class="card-header">-->
                <!--<h4 class="my-0 font-weight-normal">VIP 1</h4>-->
            <!--</div>-->
            <!--<div class="card-body ">-->
                <!--<ul class="text-left">-->
                    <!--<li> Weekly: ￥1.00 / day</li>-->
                    <!--<li> Monthly: ￥0.67 / day</li>-->
                    <!--<li> Annual: ￥0.55 / day</li>-->
                <!--</ul>-->
                <!--<a href="{{url_for('webapp.alipay_vip1')}}" type="button" class="btn btn-lg btn-block btn-outline-primary">支付宝</a>-->
                <!--<a type="button" class="btn btn-lg btn-block btn-outline-primary">微信支付</a>-->
                <!--<a type="button" class="btn btn-lg btn-block btn-outline-primary" >信用卡</a>-->
                <!--<a type="button" class="btn btn-lg btn-block btn-outline-primary" >PayPal</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="card mb-4 box-shadow">-->
            <!--<div class="card-header">-->
                <!--<h4 class="my-0 font-weight-normal">VIP 1&2</h4>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<ul class="text-left">-->
                    <!--<li> Weekly: ￥2.00 / day</li>-->
                    <!--<li> Monthly: ￥1.34 / day</li>-->
                    <!--<li> Annual: ￥1.10 / day</li>-->
                <!--</ul>-->
                <!--<a href="{{url_for('webapp.alipay_vip12')}}" type="button" class="btn btn-lg btn-block btn-outline-primary">支付宝</a>-->
                <!--<a type="button" class="btn btn-lg btn-block btn-outline-primary">微信支付</a>-->
                <!--<a type="button" class="btn btn-lg btn-block btn-outline-primary">信用卡</a>-->
                <!--<a type="button" class="btn btn-lg btn-block btn-outline-primary">PayPal</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
    <h1 class="white-text">Coming soon</h1>
    {% endblock content%}