{% extends "layout.html" %}
{% block content %}
<style>
.form-check{
color:white;
}
.container{
width = 50%
}
.form-group{
color: white
}

.form-signin{
color: white
}

.text-muted{
color: white
}

.internal-link{
color:white}

.text{
color:white}

</style>

<body class="text-center">
<div class="container container-form">
    <form class="form-signin" method="POST">
        {{ form.hidden_tag() }}
        <!-- User name field -->
        <fieldset class="form-group">
            <div class="py-5 text-center">
                <h1 id="register-title" style="color:white">Join today</h1>
            </div>
            <div class="form-group">
                {{ form.username.label(class="d-flex justify-content-between align-items-center mb-3 username-text") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid" ) }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg", placeholder = "") }}
                {% endif %}
            </div>
            <!-- Email field -->
            <div class="form-group">
                {{ form.email.label(class="d-flex justify-content-between align-items-center mb-3 email-text") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg", placeholder = "") }}
                {% endif %}
            </div>
            <!-- Password field -->
            <div class="form-group">
                {{ form.password.label(class="d-flex justify-content-between align-items-center mb-3 password-text") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Confirm password field -->
            <div class="form-group" style="plceholder='confirm password' ">
                {{ form.confirm_password.label(class="d-flex justify-content-between align-items-center mb-3
                confirm-password-text") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <!-- Submit button field -->
        <div class="container container-button">
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            </div>
        </div>
    </form>
    <div>
        <h class="text" id="register-bottom-text">Already Have An Account?</h>
        {% if lang == 'en' %}
        <a id="register-sign-in" class="internal-link" href="{{ url_for('user.login_en') }}">Sign In</a>
        {% else %}
        <a id="register-sign-in" class="internal-link" href="{{ url_for('user.login_cn') }}">Sign In</a>
        {% endif %}
    </div>
</div>
</body>
{% endblock content %}
