{% extends "layout.html" %}
{% block content %}

<style>
.btn-outline-light{
border-radius: 10px;
font-size: large;
font-weight: bold;
}

.btn-outline-light:hover{
color:#00CCBC;
background-color:rgba(0,0,0,0.2);
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
transform: translateY(-3px);
-webkit-box-shadow: 0 0 6px #999;
box-shadow: 0 0 6px #999;
-webkit-transition: all .5s ease-out;
transition: all .5s ease-out;
}
</style>


<h2 name="keyword message" keyword="{{keyword}}" id="header_search_not_found" style="color:white">Sorry, no content about "{{keyword}}" has been found.</h2>

<a class="btn btn-outline-light text-left back-to-home" href="{{ url_for('webapp.welcome') }}" style="background-color:rgba(0,0,0,0.2)">Back to home page</a>

<script type="text/javascript">
        var Highlight = {
            arr : [],
            init : function (ops){
                this.arr[ops.id] = {
                    id : ops.id,
                    arr : ops.arr
                }
                this.show(this.arr[ops.id]);
            },
            show : function (obj){
                obj.html = document.getElementById(obj.id).innerHTML;
                for (var i = 0 ; i < obj.arr.length ; i ++) {
                    // 全局匹配 替换
                    var reg = new RegExp(obj.arr[i],'g');
                    obj.html = obj.html.replace(reg,"<span style='background-color:#00CCBC; border-radius:5px'>"+obj.arr[i]+"</span>");
                }
                document.getElementById(obj.id).innerHTML = obj.html;
                console.log(obj.html)
            }
        }
        window.onload = function (){
            // 使用方法
            // id 必须
            // 默认为id 高亮内容添加class为 Highlight span 标签包裹，直接在style中写样式即可
            keyword = document.getElementById('header').getAttribute('keyword')
            console.log(keyword)
            lowercase_keyword = keyword.toLowerCase()
            Highlight.init({id:"header_search_not_found",arr:[keyword, lowercase_keyword]});
        }

</script>
{% endblock content %}
